doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title SuperBlog!
  body
    h1 Welcome to SuperBlog!
    // Конструкция "each" позволяет перебрать массив и для каждого элемента сгенерировать разметку
    ul
      each article in articles
        // #{...} — интерполяция. Так шаблонизатор понимает, что сюда надо встроить данные.
        li #{article.title}  
          a(href=`articles/${article.id}`)  Читать
          //- form(method="POST" action=article.id)
            input(type="hidden" name="_method" value="DELETE")
            button(type="submit") Удалить
          button(type="button" onclick=`deleteArticle(${article.id})`) Удалить       
          //- button(onclick=`deleteArticle(${article.id})`) Удалить
    a(href="articles/create") Создать   

    script.
      function deleteArticle(id) {
        fetch(`articles/${id}`, { method: 'DELETE' })
          .then(response => response.json())
          .then(data => console.log(data))
          .catch(error => console.error('Error:', error));
      }
    